    body {
        font-family: 'Georgia', "Helvetica", serif;
    }
    p {
        font-size: 16px;
    	line-height: 24px;
    }
    h1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h3,
    h4 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .contentpage {
        display: none;
    }
    a {
        text-decoration: none;
        color: #464646;
        border-bottom: 1px dotted #eb6ba9;
    }
    a:visited {
        color: #464646;
    }
    a:hover {
        color: #eb6ba9;
        border-bottom: 1px dotted #eb6ba9;
        text-decoration: none;
        transition: all 0.2s linear;
    }
    a:focus {
        color: #eb6ba9;
        text-decoration: none;
    }
    ::selection {
        color: #fff;
        background: #eb6ba9;
    }
    ::-moz-selection {
        color: #fff;
        background: #eb6ba9;
    }
    .typewriter {
        margin-top: 10%;
        white-space: pre-wrap;
        margin-right: -6px;
        font-size: 16px;
        font-weight: 700;
    }
    .caret {
        background: #777;
    }
    form {
        margin-top: 20px;
    }
    .subscribebutton {
        padding: 0;
        border: none;
        background: none;
        text-decoration: none;
        color: #464646;
        border-bottom: 1px dotted #eb6ba9;
        margin-left: 5px;
        font-size: 16px;
    }
    .subscribebutton:visited {
        color: #464646;
    }
    .subscribebutton:hover {
        color: #eb6ba9;
        border-bottom: 1px dotted #eb6ba9;
        text-decoration: none;
        transition: all 0.2s linear;
    }
    .subscribebutton:focus {
        color: #eb6ba9;
        text-decoration: none;
    }
    .marginarchive {
        margin-bottom: 20px;
    }
